    <footer class="container-fluid menu">
        <div class="container">
            <div class="row">
                <div class="full-width">
                <p class="float-left footermargin">Made with <i class="fa fa-heart"></i> by students for students</p>
                <p class="float-right footermargin">WAP 472 - MUM - &copy; September 2017</p>
                </div>
            </div>
            <div class="row">
                <p class="float-left small">Want to contact us? acala@mum.edu | cavendano@mum.edu | pko@mum.edu | jrabin@mum.edu</p>
            </div>
        </div>
    </footer>


        <script src="js/jquery-3.2.1.min.js" ></script>
        <script src="js/popper.js" ></script>
        <script src="js/bootstrap.min.js" ></script>
        <script src="js/scripts.js"></script>
        <script src="js/service.js"></script>
    </body>
</html>